In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
%matplotlib inline

cars = pd.read_csv('cars-dataset.csv')
countries = pd.read_csv('brands_countries.csv')

/var/folders/s8/ryzdv1sn1g15nt9h4886lz7m0000gn/T/ipykernel_2244/2976906906.py:9: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  cars = pd.read_csv('cars-dataset.csv')

In [7]:
cars['Company'].unique()

array(['AC', 'ACURA', 'ALFA ROMEO', 'ALPINE', 'ARIEL', 'ARO', 'ARTEGA',
       'ASTON MARTIN', 'AUDI', 'AURUS', 'BENTLEY', 'BMW', 'BRISTOL',
       'BUFORI', 'BUGATTI', 'BUICK', 'CADILLAC', 'CATERHAM', 'CHEVROLET',
       'CHRYSLER', 'CITROEN', 'CUPRA', 'DACIA', 'DAEWOO', 'DAIHATSU',
       'DATSUN', 'DeLorean', 'DODGE', 'DONKERVOORT', 'DR MOTOR',
       'DS AUTOMOBILES', 'EAGLE', 'FERRARI', 'FIAT', 'FISKER', 'FORD',
       'FSO', 'GEELY', 'GENESIS', 'GMC', 'GORDON MURRAY Automotive',
       'GTA Motor', 'HINDUSTAN', 'HOLDEN', 'HONDA', 'HUMMER', 'HYUNDAI',
       'INEOS', 'INFINITI', 'ISUZU', 'JAGUAR', 'JEEP', 'Karma', 'KIA',
       'KOENIGSEGG', 'KTM', 'LADA', 'LAMBORGHINI', 'LANCIA', 'LAND ROVER',
       'LEXUS', 'LIGHTYEAR', 'LINCOLN', 'LOTUS', 'Lucid Motors',
       'Mahindra', 'MARUSSIA', 'MARUTI SUZUKI', 'MASERATI', 'MAYBACH',
       'MAZDA', 'MCLAREN', 'MERCEDES BENZ', 'Mercedes-AMG', 'MERCURY',
       'MG', 'MINI', 'MITSUBISHI', 'MORGAN', 'NIO', 'NISSAN',
       'OLDSMOBILE', 'OPEL', 'PAGANI', 'PANOZ', 'PERODUA', 'PEUGEOT',
       'Pininfarina', 'PLYMOUTH', 'Polestar', 'PONTIAC', 'PORSCHE',
       'PROTON', 'QOROS', 'RAM Trucks', 'RENAULT', 'RIMAC', 'RIVIAN',
       'ROLLS-ROYCE', 'SAAB', 'SALEEN', 'SAMSUNG', 'SANTANA', 'SATURN',
       'SCION', 'SEAT', 'SKODA', 'SMART', 'SPYKER', 'SSANGYONG', 'SUBARU',
       'SUZUKI', 'TATA MOTORS', 'TESLA', 'TOYOTA', 'TVR', 'VAUXHALL',
       'VinFast', 'VOLKSWAGEN', 'VOLVO', 'WIESMANN', 'Xpeng', 'ZENDER',
       'Zenvo'], dtype=object)

In [8]:
#count unique companies
cars['Company'].nunique()

124

In [14]:
# Join the two dataframes along rows
complete = cars.merge(countries, on='Company', how='left')

#Save the complete dataset to a new csv file
complete.to_csv('complete_cars.csv', index=False)